{% extends "membres/gestionnaire/base_gestion.html"%}
{% block centre%}
<div class="home-content">
  <div class="sales-boxes">
    <div class="recent-sales5 box">
      <div class="formulaire">
       <h2>Modification stock</h2><br>

       <form method="post" action="{{ url_for('gestion_modifier_stock', id_stock=stock[0]) }}">
        <label for="produit">Produit</label>
        <select id="produit" name="produit" required>
            {% for prod in produits %}
                <option value="{{ prod[0] }}" {% if prod[0] == stock[1] %}selected{% endif %}>{{ prod[1] }}</option>
            {% endfor %}
        </select>
        <label for="nombre">Quantité</label>
        <input type="number" id="nombre" name="nombre" value="{{ stock[2] }}" required>

                  <div><button type="#" ><a href="{{url_for('gestion_stock')}}" style="text-decoration:none;
    color: #fff;">Annuler</a></button>
                  <button type="submit" >Confirmer</button>
                </div>
            </form>
        </div>
  </div><br>
</div>
  </div>
{% endblock %}