{% extends "base.html" %}
{% block centre%}

<div class="home-content">
  <div class="sales-boxes">
    <div class="recent-sales1 box">
      <div class="title">Espace d'envoie de sms personnalisé à mes clients</div>
      <p>Business Intelligente / Emailing</p><br>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      <form action="{{ url_for('envoyer_sms') }}" method="post">
        <textarea id="message" name="message" placeholder="Saisir votre message" class="textarea1"></textarea><br>
        <emoji-picker for="message"></emoji-picker> <!-- Ajout d'emojis -->
        <button type="submit">Envoyer</button>
      </form>
    </div>
  </div><br>
</div>
{% endblock %}

