{% extends "base.html" %}
{% block centre%}

<div class="home-content">
  <div class="sales-boxes">
    <div class="recent-sales4 box">
      <div class="formulaire">
       <h2>Modification achats </h2><br>

       <form method="post" action="{{ url_for('modifier_achat', id_entree=achat[0]) }}">

        <label for="fournisseur">Fournisseur</label>
        <select id="fournisseur" name="fournisseur" required>
            <option value="" disabled selected>Sélectionnez le fournisseur</option>
            {% for fournisseur in fournisseurs %}
                <option value="{{ fournisseur[0] }}" {% if fournisseur[0] == achat[1] %}selected{% endif %}>{{ fournisseur[1] }}</option>
            {% endfor %}
        </select>
    
        <label for="produit">Produit</label>
        <select id="produit" name="produit" required>
            <option value="" disabled selected>Sélectionnez un produit</option>
            {% for produit in produits %}
                <option value="{{ produit[0] }}" {% if produit[0] == achat[2] %}selected{% endif %}>{{ produit[1] }}</option>
            {% endfor %}
        </select>
    
        <label for="nombre">Nombre</label>
        <input type="number" id="nombre" name="nombre" value="{{ achat[3] }}" required>
    
        <label for="prix_vente">Prix unitaire d'achat</label>
        <input type="number" id="prix_vente" name="prix_vente" value="{{ achat[4] }}" required>
    

                  <div><button type="#" ><a href="{{url_for('achats')}}" style="text-decoration:none;
    color: #fff;">Annuler</a></button>
                  <button type="submit" >Confirmer</button>
                </div>
            </form>
        </div>
  </div><br>
</div>
  </div>
{% endblock %}